.apresentacao-div-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.apresentacao-titulo{
    font-size: var(--fonte-size-l);
    font-family: var(--fonte-titulos);  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--padding-2xs);
}
.apresentacao-div-conteudo {
    display: flex;
    align-items: center;       
    justify-content: center;  
    margin-bottom: 2rem; 
}

.apresentacao-conteudo {
    font-size: var(--fonte-size-m);
    margin: 1rem;
    max-width: 800px;          
    text-align: center;        
}
