.cabecalho-ul-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-fundo);
}
.cabecalho-list{
    list-style: none;
    font-style: none;
    margin-right: 1rem;
    font-size: var(--fonte-size-m);
    padding-right: var(--padding-2xs);
    list-style-type: none;
}
.cabecalho-list a{
    color:  var(--cor-texto-branco);
    text-decoration: none;
}   
.cabecalho-img{
    border-radius: 100%;
    width: 29%;
}